.kisKep{
    width: 80px;
}
#kepekHelye{
    text-align: center;
    margin-top: 30px;
}
h1{
    text-align: center;
}

#nagyKep{
    margin-top: 30px;
    text-align: center;
 
}

#gombokHelye{
    margin-top: 30px;
    text-align: center;
}
